<mat-card>
  <mat-card-title> Projects </mat-card-title>
  <mat-card-content>
    <mat-list data-cy="projects-list">
      <mat-list-item
        *ngFor="let project of projects"
        attr.data-cy="project-{{ project.id }}-item"
        class="mat-list-option"
        (click)="selected.emit(project)"
        data-cy="list-item"
      >
        <span matLine attr.data-cy="project-{{ project.id }}-item-title">
          {{ project.title }}</span
        >
        <button
          *ngIf="!readonly"
          attr.data-cy="delete-project-{{ project.id }}-btn"
          mat-icon-button
          type="button"
          color="warn"
          (click)="deleted.emit(project); $event.stopImmediatePropagation()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
